
config/target/

download/target/

resolve/target/

config/.idea/

download/.idea/

resolve/.idea/

task-processor/.idea/

task-processor/build/

web/.idea/

web/node_modules/

web/app/jspm_packages/

*.iml

.gradle/

task-processor/.gradle/




