
config/target/

download/target/

resolve/target
/
data/target/

link/target/

config/.idea/

download/.idea/

resolve/.idea/

task-processor/.idea/

taskRpc/.idea/

data/.idea/

link/.idea/

task-processor/build/

web/.idea/

web/node_modules/

web/app/jspm_packages/

*.iml

.gradle/

*.log
task-processor/.gradle/

taskRpc/target/


