<div style="visibility: hidden">
    <div class="md-dialog-container" id="task-push-dialog">
        <md-dialog layout-padding>
            <h2>确认添加任务</h2>
            <p>
                请确认是否正确填写爬虫设置的相关的选项，强烈建议你先进行一次测试爬虫来确保设置正确性
            </p>
            <md-dialog-actions>
                <md-button aria-label="Facebook" class="md-fab md-raised md-mini"
                           ng-click="$ctrl.pushRequest($event)">
                    <md-icon md-svg-icon="done" aria-label="done"></md-icon>
                    <md-tooltip>提交</md-tooltip>
                </md-button>
                <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
                    <md-icon md-svg-icon="test" aria-label="test"></md-icon>
                    <md-tooltip>测试</md-tooltip>
                </md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="task-test-dialog">
        <md-dialog layout-padding flex="60">
            <h2>配置测试</h2>
            <div layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular ng-disabled="false"></md-progress-circular>
            </div>
            <md-list ng-cloak>
                <md-list-item class="secondary-button-padding">
                    <div class="md-list-item-text" flex="80">
                        <h3>{</h3>
                        <div layout="row">
                            <span flex="5"></span>
                            <h4>name:name</h4>
                        </div>

                        <div layout="row">
                            <span flex="5"></span>
                            <h4>value:fdsfd</h4>
                        </div>
                        <h3>}</h3>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
            </md-list>
            <md-dialog-actions>
                <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
                    <md-icon md-svg-icon="done" aria-label="done"></md-icon>
                    <md-tooltip>提交</md-tooltip>
                </md-button>
                <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
                    <md-icon md-svg-icon="edit" aria-label="edit"></md-icon>
                    <md-tooltip>修改</md-tooltip>
                </md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>


<md-card layout="column" md-whiteframe="6" ng-cloak flex style="margin-top:30px;">
    <md-toolbar md-colors="{background:'accent'}" md-whiteframe="-1" layout="row" class="md-toolbar-tools"
                layout-align="center center">
        <h1>添加链接</h1>
        <span flex></span>
        <md-button class="md-icon-button">
            <md-icon md-svg-icon="code"></md-icon>
        </md-button>
    </md-toolbar>
    <md-card-title>
        <md-card-title-text>
            <!--<span class="md-headline">添加链接</span>-->
            <span class="md-subhead">add urls</span>
        </md-card-title-text>
    </md-card-title>
    <!--<md-subheader class="md-primary">添加链接</md-subheader>-->
    <md-card-content layout-padding flex>
        <form layout="row" flex>
            <md-input-container flex="100">
                <md-icon md-svg-icon="link" style="display:inline-block;"></md-icon>
                <label>url</label>
                <input ng-model="$ctrl.tempUrl" flex="60" required>
                <md-button style="display: inline-block" ng-click="$ctrl.addLink()">
                    <md-icon md-svg-icon="add"></md-icon>
                    <md-tooltip md-direction="bottom">添加</md-tooltip>
                </md-button>
            </md-input-container>
        </form>

        <md-chips ng-model="myItems" md-max-chips="5">
            <md-chip ng-repeat="item in $ctrl.urls">{{item}}</md-chip>
        </md-chips>
    </md-card-content>
</md-card>


<md-card layout="column" md-whiteframe="6" ng-cloak flex style="margin-top:30px;">
    <md-toolbar md-colors="{background:'accent'}" md-whiteframe="1" layout="row" class="md-toolbar-tools"
                layout-align="center center">
        <h1>动态页面处理器</h1>
        <span flex></span>
        <md-button class="md-icon-button">
            <md-icon md-svg-icon="code"></md-icon>
        </md-button>
    </md-toolbar>
    <md-card-title>
        <md-card-title-text>
            <!--<span class="md-headline">动态页面处理器</span>-->
            <span class="md-subhead">可以对爬虫中页面进行操作</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content layout-padding>
        <form layout="row">
            <div layout="row" flex>
                <md-input-container flex="25">
                    <label>处理时刻</label>
                    <md-icon md-svg-icon="processor" style="display: inline-block;"></md-icon>
                    <md-select ng-model="$ctrl.tempProcessor.kind">
                        <md-option ng-value="0">前置处理</md-option>
                        <md-option ng-value="1">后置处理</md-option>
                    </md-select>
                </md-input-container>

                <!--<md-divider></md-divider>-->
                <md-input-container flex="25">
                    <label>类型</label>
                    <md-select ng-model="$ctrl.tempProcessor.type">
                        <md-option ng-value="item.value" ng-repeat="item in $ctrl.processorType">
                            <em>{{item.message}}</em></md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex="25">
                    <label>元素查询</label>
                    <input ng-model="$ctrl.tempProcessor.query">
                </md-input-container>

                <md-input-container flex="25">
                    <label>可选项</label>
                    <input ng-model="$ctrl.tempProcessor.option">

                </md-input-container>

                <md-input-container flex="25">
                    <md-button style="display: inline-block" ng-click="$ctrl.addProcessor()">
                        <md-icon md-svg-icon="add"></md-icon>
                        <md-tooltip md-direction="bottom">添加</md-tooltip>
                    </md-button>
                </md-input-container>
            </div>
        </form>

        <md-list ng-cloak>
            <md-subheader class="md-no-sticky">处理流程</md-subheader>
            <md-list-item class="secondary-button-padding" ng-repeat="item in $ctrl.findPre() track by $index">
                <p>前置处理-->{{item.kind}}-->{{item.query}}-->{{item.option}}</p>
                <md-button class="md-secondary md-icon-button"
                           ng-click="doSecondaryAction($event)">
                    <md-icon md-svg-icon="up"></md-icon>
                    <md-tooltip md-direction="bottom">向上</md-tooltip>
                </md-button>
                <md-button class="md-secondary md-icon-button"
                           ng-click="doSecondaryAction($event)">
                    <md-icon md-svg-icon="down"></md-icon>
                    <md-tooltip md-direction="bottom">向下</md-tooltip>
                </md-button>
                <md-button class="md-secondary md-icon-button"
                           ng-click="doSecondaryAction($event)">
                    <md-icon md-svg-icon="delete"></md-icon>
                    <md-tooltip md-direction="bottom">清除</md-tooltip>
                </md-button>
                <md-button class="md-secondary md-icon-button"
                           ng-click="doSecondaryAction($event)">
                    <md-icon md-svg-icon="edit"></md-icon>
                    <md-tooltip md-direction="bottom">编辑</md-tooltip>
                </md-button>
            </md-list-item>
            <md-list-item class="secondary-button-padding" ng-repeat="item in $ctrl.findPost() track by $index">
                <p>后置处理-->{{item.kind}}-->{{item.query}}-->{{item.option}}</p>
                <md-button class="md-secondary md-icon-button"
                           ng-click="doSecondaryAction($event)">
                    <md-icon md-svg-icon="up"></md-icon>
                    <md-tooltip md-direction="bottom">向上</md-tooltip>
                </md-button>
                <md-button class="md-secondary md-icon-button"
                           ng-click="doSecondaryAction($event)">
                    <md-icon md-svg-icon="down"></md-icon>
                    <md-tooltip md-direction="bottom">向下</md-tooltip>
                </md-button>
                <md-button class="md-secondary md-icon-button"
                           ng-click="doSecondaryAction($event)">
                    <md-icon md-svg-icon="delete"></md-icon>
                    <md-tooltip md-direction="bottom">清除</md-tooltip>
                </md-button>
                <md-button class="md-secondary md-icon-button"
                           ng-click="doSecondaryAction($event)">
                    <md-icon md-svg-icon="edit"></md-icon>
                    <md-tooltip md-direction="bottom">编辑</md-tooltip>
                </md-button>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </md-card-content>
</md-card>

<md-card layout="column" md-whiteframe="6" ng-cloak flex style="margin-top:30px;">
    <md-toolbar md-colors="{background:'accent'}" md-whiteframe="1" layout="row" class="md-toolbar-tools"
                layout-align="center center">
        <h1>数据解析</h1>
        <span flex></span>
        <md-button class="md-icon-button">
            <md-icon md-svg-icon="code"></md-icon>
        </md-button>
    </md-toolbar>
    <md-card-title>
        <md-card-title-text>
            <!--<span class="md-headline">数据解析</span>-->
            <span class="md-subhead">data resolve</span>
        </md-card-title-text>
    </md-card-title>
    <!--<md-subheader class="md-primary">添加链接</md-subheader>-->
    <md-card-content layout-padding flex>
        <form layout="row">
            <div layout="row" flex>
                <md-input-container flex="25">
                    <label>元素选取方式</label>
                    <md-icon md-svg-icon="data" style="display: inline-block;"></md-icon>
                    <md-select ng-model="userState">
                        <md-option ng-value="0">css</md-option>
                        <md-option ng-value="1">js</md-option>
                        <md-option ng-value="2">xpath</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex="25">
                    <label>名称</label>
                    <input md-select-on-focus ng-model="$ctrl.tempResolve.name">
                </md-input-container>

                <md-input-container flex="25">
                    <label>元素查询</label>
                    <input md-select-on-focus ng-model="$ctrl.tempResolve.query">
                </md-input-container>

                <md-input-container flex="25">
                    <label>可选项</label>
                    <md-select ng-model="$ctrl.tempResolve.option">
                        <md-option ng-model="item.value" ng-repeat="item in $ctrl.resolveOptionType">{{item.message}}
                        </md-option>
                    </md-select>
                </md-input-container>


                <md-input-container flex="25">
                    <label>可选项值</label>
                    <input ng-model="$ctrl.tempResolve.optionValue">
                </md-input-container>

                <md-input-container flex="25">
                    <md-button style="display: inline-block" ng-click="$ctrl.addResolve()">
                        <md-icon md-svg-icon="add"></md-icon>
                        <md-tooltip md-direction="bottom">添加</md-tooltip>
                    </md-button>
                </md-input-container>
            </div>
        </form>


        <md-list ng-cloak>
            <md-subheader class="md-no-sticky">解析数据</md-subheader>
            <md-list-item class="secondary-button-padding" ng-repeat="item in $ctrl.resolveData track by $index">
                <div class="md-list-item-text" flex="80">
                    <h3>{</h3>
                    <div layout="row">
                        <span flex="5"></span>
                        <h4>name:{{item.name}}</h4>
                    </div>

                    <div layout="row">
                        <span flex="5"></span>
                        <h4>query:{{item.query}}</h4>
                    </div>
                    <div layout="row">
                        <span flex="5"></span>
                        <h4>option:{{item.option}}</h4>
                    </div>
                    <div layout="row">
                        <span flex="5"></span>
                        <h4>option-value:{{item.optionValue}}r</h4>
                    </div>
                    <h3>}</h3>
                </div>
                <md-button class="md-secondary md-icon-button"
                           ng-click="doSecondaryAction($event)">
                    <md-icon md-svg-icon="delete"></md-icon>
                    <md-tooltip md-direction="bottom">清除</md-tooltip>
                </md-button>
                <md-button class="md-secondary md-icon-button"
                           ng-click="doSecondaryAction($event)">
                    <md-icon md-svg-icon="edit"></md-icon>
                    <md-tooltip md-direction="bottom">编辑</md-tooltip>
                </md-button>
                <md-divider></md-divider>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </md-card-content>
</md-card>


<div class="lock-size" ng-cloak
     layout-align="center center"

     style="position:fixed;z-index:21;bottom:100px;right:200px">
    <md-fab-speed-dial md-direction="up"
                       class="md-fling">
        <md-fab-trigger>
            <md-button class="md-fab  md-button">

                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
        </md-fab-trigger>
        <!--style="position: fixed;right: 150px;bottom: 100px"-->
        <md-fab-actions>
            <md-button aria-label="push" class="md-fab md-raised md-mini" ng-click="$ctrl.submit($event)">
                <md-icon md-svg-icon="done" aria-label="push"></md-icon>
                <md-tooltip>提交</md-tooltip>
            </md-button>
            <md-button aria-label="clear" class="md-fab md-raised md-mini" ng-click="$ctrl.clear($event)">
                <md-icon md-svg-icon="fresh" aria-label="clear"></md-icon>
                <md-tooltip>重置</md-tooltip>
            </md-button>
            <md-button aria-label="test" class="md-fab md-raised md-mini" ng-click="$ctrl.test($event)">
                <md-icon md-svg-icon="test" aria-label="test"></md-icon>
                <md-tooltip>测试</md-tooltip>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>

</div>








