<md-card layout="column" md-whiteframe="6" ng-cloak flex style="margin-top:30px;">
    <md-toolbar md-colors="{background:'accent'}" md-whiteframe="-1" layout="row" class="md-toolbar-tools"
                layout-align="center center">
        <h1>任务列表</h1>
        <span flex></span>
        <md-button class="md-icon-button">
            <md-icon md-svg-icon="code"></md-icon>
        </md-button>
    </md-toolbar>
    <!--<md-subheader class="md-primary">添加链接</md-subheader>-->
    <md-card-content layout-padding flex>
        <md-list ng-cloak>
            <md-subheader class="md-no-sticky">starting</md-subheader>
            <md-list-item class="secondary-button-padding" ng-repeat="item in $ctrl.start" layout="row">
                <div class="md-list-item-text" flex="40">
                   {{item.taskTag}}
                </div>
                <div class="md-list-item-text" flex="50">
                    start at-----{{item.beginTime| date:'yyyy-MM-dd HH:mm:ss'}}
                </div>

                <div class="md-list-item-text" flex="30">
                    get data-----{{item.pageTimes}}
                </div>
                <md-button class="md-secondary md-icon-button"
                           ng-click="$ctrl.pauseTask($event,item.taskTag)">
                    <md-icon md-svg-icon="pause"></md-icon>
                    <md-tooltip md-direction="bottom">暂停</md-tooltip>
                </md-button>
                <md-button class="md-secondary md-icon-button"
                           ng-click="$ctrl.stopTask($event,item.taskTag)">
                    <md-icon md-svg-icon="stop"></md-icon>
                    <md-tooltip md-direction="bottom">完成</md-tooltip>
                </md-button>
                <md-button class="md-secondary md-icon-button"
                           ui-sref="taskInfo({ taskTag: item.taskTag })">
                    <md-icon md-svg-icon="info">
                    </md-icon>
                    <a ></a>
                    <md-tooltip md-direction="bottom">详细</md-tooltip>
                </md-button>
                <md-divider></md-divider>
            </md-list-item>


            <md-divider></md-divider>
        </md-list>

        <md-list ng-cloak>
            <md-subheader class="md-no-sticky">stoped</md-subheader>
            <md-list-item class="secondary-button-padding" ng-repeat="item in $ctrl.stop" layout="row">
                <div class="md-list-item-text" flex="40">
                    {{item.taskTag}}
                </div>
                <div class="md-list-item-text" flex="50">
                    start at-----{{item.beginTime| date:'yyyy-MM-dd HH:mm:ss'}}
                </div>

                <div class="md-list-item-text" flex="30">
                    get data-----{{item.pageTimes}}
                </div>
                <md-button class="md-secondary md-icon-button"
                           ng-click="$ctrl.restartTask($event,item.taskTag)">
                    <md-icon md-svg-icon="start"></md-icon>
                    <md-tooltip md-direction="bottom">开始</md-tooltip>
                </md-button>
                <md-button class="md-secondary md-icon-button"
                           ng-click="$ctrl.destroyTask($event,item.taskTag)">
                    <md-icon md-svg-icon="delete"></md-icon>
                    <md-tooltip md-direction="bottom">清除</md-tooltip>
                </md-button>
                <md-button class="md-secondary md-icon-button"
                           ui-sref="taskInfo({ taskTag: item.taskTag })">
                    <md-icon md-svg-icon="info"></md-icon>
                    <md-tooltip md-direction="bottom">详细</md-tooltip>
                </md-button>
                <md-divider></md-divider>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>

        <md-list ng-cloak>
            <md-subheader class="md-no-sticky">finish</md-subheader>
            <md-list-item class="secondary-button-padding" ng-repeat="item in $ctrl.finish" layout="row">
                <div class="md-list-item-text" flex="40">
                    {{item.taskTag}}
                </div>
                <div class="md-list-item-text" flex="50">
                    start at-----{{item.beginTime| date:'yyyy-MM-dd HH:mm:ss'}}
                </div>

                <div class="md-list-item-text" flex="30">
                    get data-----{{item.pageTimes}}
                </div>
                <md-button class="md-secondary md-icon-button"
                           ng-click="$ctrl.restartTask($event,item.taskTag)">
                    <md-icon md-svg-icon="start"></md-icon>
                    <md-tooltip md-direction="bottom">开始</md-tooltip>
                </md-button>
                <md-button class="md-secondary md-icon-button"
                           ng-click="$ctrl.destroyTask($event,item.taskTag)">
                    <md-icon md-svg-icon="delete"></md-icon>
                    <md-tooltip md-direction="bottom">清除</md-tooltip>
                </md-button>
                <md-button class="md-secondary md-icon-button"
                           ui-sref="taskInfo({ taskTag: item.taskTag })">
                    <md-icon md-svg-icon="info"></md-icon>
                    <md-tooltip md-direction="bottom">详细</md-tooltip>
                </md-button>
                <md-divider></md-divider>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>

        <md-list ng-cloak>
            <md-subheader class="md-no-sticky">destroy</md-subheader>
            <md-list-item class="secondary-button-padding" ng-repeat="item in $ctrl.destroy" layout="row">
                <div class="md-list-item-text" flex="40">
                    {{item.taskTag}}
                </div>
                <div class="md-list-item-text" flex="50">
                    start at-----{{item.beginTime| date:'yyyy-MM-dd HH:mm:ss'}}
                </div>

                <div class="md-list-item-text" flex="30">
                    get data-----{{item.pageTimes}}
                </div>
                <!--<md-button class="md-secondary md-icon-button"-->
                           <!--ng-click="doSecondaryAction($event)">-->
                    <!--<md-icon md-svg-icon="start"></md-icon>-->
                    <!--<md-tooltip md-direction="bottom">开始</md-tooltip>-->
                <!--</md-button>-->
                <!--<md-button class="md-secondary md-icon-button"-->
                           <!--ng-click="doSecondaryAction($event)">-->
                    <!--<md-icon md-svg-icon="delete"></md-icon>-->
                    <!--<md-tooltip md-direction="bottom">清除</md-tooltip>-->
                <!--</md-button>-->
                <md-button class="md-secondary md-icon-button"
                           ui-sref="taskInfo({ taskTag: item.taskTag })">
                    <md-icon md-svg-icon="info"></md-icon>
                    <md-tooltip md-direction="bottom">详细</md-tooltip>
                </md-button>
                <md-divider></md-divider>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </md-card-content>
</md-card>